.navbar,
.navbar-collapse {
    flex-direction: column;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: column;
}

.menu {
    max-width: 250px;
}

.close {
    color: #FFFFFF;
    margin-left: 90%;
}