.label {
    width: 392px;
    height: 49px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #FFFFFF;

    margin: 4% 3%;
}

.find-input {
    height: 57px;
    left: 7%;
    background-color : #323232;
    margin: 1% 25% 12% 17%
}

.search-btn {
    background-color: #F65261;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    left: 31.76%;
    right: 31.33%;
    top: calc(50% - 24px/2 + 1.5px);

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    width: 233px;
    height: 57px;
    margin: 1% 25% 7% 15%
}

.add-btn {
    width: 177px;
    height: 46px;
    left: 1025px;
    background-color: #555555;
    text-align: center;

    right: 10.17%;
    top: calc(50% - 24px/2);

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 5% -15%;
    color: #F65261;
}
